.square {
  width: 5rem;
  height: 5rem;
  margin-top: 0.2em;
  padding-left: 0em;
  padding-top: 0em;
}

.square img {
  width: 4.5rem;
  height: 4.5rem;
  padding-left: auto;
  padding-top: auto;
}

.superboard {
  width: 9.6rem;
  height: 9.6rem;
  display: inline-block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.superboard img {
  width: 9.2rem;
  height: 9.2rem;
  padding-left: auto;
  padding-top: auto;
  margin-left: auto;
}

.supersquare {
  width: 3rem;
  height: 3rem;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: 0.1em;
  margin-right: 0.1em;
  padding-left: 0em;
  padding-top: 0em;
}
.supersquare img {
  width: 2.5rem;
  height: 2.5rem;
  padding-left: auto;
  padding-top: auto;
}

.playable {
  background-color: green;
}

.unplayable {
  background-color: red;
}

.neutral {
  background-color: gray;
}
